body{
    background-color: #1e1e1e;
    background-image: url("digital_rain.gif");
    background-size: cover;
}

.header{
    margin: 20px 20px 20px 20px;
    font-family: 'Courier New', monospace;
    color: white;
}

.main_pic{
    display: block;
    margin: 50px 50px 50px 50px;
    width: 400px;
    border-style:solid;
    border-width: 10px;
    border-color: #000000;
}

.mwf{
    font-family: 'Courier New', monospace;
    color: white;
}

.navmen{
    font-family: 'Courier New', monospace;
    color: #1bce00;
    padding: 5px;
    background-color: #1e1e1e;
    text-decoration: none;
}
.testnavmen{
    position: relative;
    background-color: #333;
    overflow: hidden;
}

.testnavmen a{
    float: left;
    color: #1bce00;
    font-family: 'Courier New', monospace;
    padding: 14px 16px;
    text-decoration: none;
}

.testnavmen a:hover{
    background-color: #1bce00;
    color: #000000;
}