  /**************** Basic Text Styles ****************/

  body{
    background-color: #1e1e1e;
    background-image: url("/images/mainimg/digital_rain.gif");
    background-size: cover;
    background-attachment: fixed;
}

.header{
    margin: 0px 20px 20px 20px;
    font-family: 'Courier New', monospace;
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.header:hover{
    color: #1bce00;
    text-decoration:underline;
}

.footer{
display: flex;
align-items: center;
justify-content: center;
background-color:#243422;
overflow: auto;
}

.footer:hover{
  opacity: 100%;
}

/*main white font, regular*/
.mwf-2{
  font-family: 'Courier New', monospace;
  color: white;
  max-width: 600px;
  display: block;
  text-decoration: none;
  margin: auto;
  text-align: center;
}

/*main white font, green on hover*/
.mwf{
    font-family: 'Courier New', monospace;
    color: white;
    max-width: 600px;
    display: block;
    text-decoration: none;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.mwf:hover{
    color: #1bce00;
    text-decoration: none;
}

/*top navigation bar stuff*/
.topnav{
    background-color: #333;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav a{
    float:left;
    padding: 12px;
    color: #1bce00;
    font-size: 17px;
    font-family: 'Courier New', monospace;
    text-decoration: none;
    text-align: center;
}

.topnav a:hover{
    background-color: #1bce00;
    color: #000000;
}

  /**************** Page - Home ****************/

  /*contact banner secton*/
  .indexpostgrid{
    background-color: #243422;
    opacity: 90%;
    display:inline-block;
    margin: 20px;
  }

  /*quick gallery picture settings*/
  .index-gallery {
  margin: 20px;
  padding: 20px;
}

  .index-gallery img {
  width: 100%;
  height: 100;
}

  .index-desc {
  text-align: center;
  color: white;
  float: right;
  margin: 10px;
  padding: 15px;
}

  /*main profile picture stuff*/
.main_pic{
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  border-width: 10px;
}

.indexdesc{
  margin: auto;
  padding: 20px;
  background-color: #243422;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  max-width: 500px;
}

.guestbook{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
}

  /**************** Page - About Me ****************/

  .abtme{
    background-color: #333;
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
    overflow-y:scroll;
    scrollbar-width: none;
  }

  .abtmedesc{
    margin: auto;
    padding: 20px;
    background-color: #243422;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 400px;
    text-align: center;
  }

  .abtmegrid{
    display: flex;
    padding: 10px;
    align-content:center;
    justify-content: center;
  }

  /**************** Page - Blog ****************/

    /*Left to right image links to blog posts*/
    .blogpostgrid{
      display: flex;
      padding: 10px;
      margin: auto;
      overflow-x:scroll;
      scrollbar-width:thin;
    }

    /*Box containter thing for blog post images/videos*/
    .blogpstgal{
      background-color: #243422;
      margin: auto;
      padding: 10px;
      max-width: 700px;
      overflow: auto;
    }

    /*Box containter for gratitude post*/
    .blogpstgalgrat{
      background-color: #60775d;
      padding: 10px;
      width: 45%;
      height: 45%;
      display: flex;
      float:left;
      overflow: auto;
    }

    /*Box containter for gratitude post*/
    .blogpstgalxtra{
      background-color: #abc1a8;
      padding: 10px;
      width: 45%;
      height:45%;
      display: flex;
      align-content:center;
      justify-content: center;
      float: right;
      overflow: auto;
    }

    /*quick gallery picture settings*/
    .blog-gallery {
    background-color: rgb(43, 43, 43);
    margin: 20px;
}

    .blog-gallery:hover {
      box-shadow: 0 12px 24px 0 rgba(129, 255, 90, 0.2), 0 18px 60px 0 rgba(129, 255, 90, 0.2);
}

    .blog-desc {
    text-align: center;
    padding: 10px;
    color: white;
}

    .blogpix{
    height:200px;
}

  /**************** Page - Shop ****************/


  /**************** Filters & Effects ****************/
  /*Crt filter from http://aleclownes.com/2017/02/01/crt-display.html*/
  @keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .crt {
    animation: textShadow 1.6s infinite;
  }